@import url(./reset.css);
@import url(./fonts.css);

.page {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 28px;
  line-height: 44px;
  color: #1f1f1f;
}

.container {
  max-width: 1750px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  color: inherit;
}

.text {
  opacity: 0.7;
}

.title {
  font-weight: 800;
  font-size: 80px;
  line-height: 94px;
  color: #1f1f1f;
}

.btn {
  position: relative;
  padding: 10px 24px;
  font-weight: 800;
  font-size: 20px;
  line-height: 36px;
  border: 1px solid #114455;
  border-radius: 2px;
  transition: all 0.2s ease;
}
.btn__arrow {
  margin-left: 16px;
  transition: all 0.2s ease;
}
.btn:hover,
.btn:focus {
  background-color: #114455;
  color: #fff;
}
.btn:hover .btn__arrow path {
  fill: #fff;
}
.btn:active {
  top: 2px;
}

/* header start */
.header {
  position: relative;
  min-height: 100vh;
  background: url(../img/header/header-bg.jpg) no-repeat center;
  background-size: cover;
}
.header__top {
  margin-bottom: 126px;
  padding: 44px 0;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav__list {
  display: flex;
  column-gap: 118px;
  font-weight: 800;
  font-size: 20px;
  line-height: 36px;
  color: #114455;
}
.link {
  transition: all 0.2s ease;
}
.link:hover {
  opacity: 0.7;
}
.header__content {
  max-width: 1070px;
}
.header__title {
  max-width: 734px;
  margin-bottom: 48px;
  font-size: 80px;
  line-height: 94px;
  font-weight: 800;
  color: #114455;
}
.header__text {
  margin-bottom: 72px;
  font-size: 34px;
  line-height: 40px;
}
.btn_dark {
  padding: 14px 32px;
  background-color: #114455;
  color: #fff;
}
.btn_dark .btn__arrow path {
  fill: #fff;
}
.btn_dark:hover,
.btn_dark:focus {
  background-color: transparent;
  color: #114455;
}
.btn_dark:hover .btn__arrow path {
  fill: #114455;
}

.header__down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  cursor: pointer;
}

/* header end */

/* slider start */

.case-studies {
  padding: 180px 0;
}
.case-studies__info {
  max-width: 1075px;
  margin-bottom: 100px;
}
.case-studies__title {
  margin-bottom: 12px;
}
.case-studies__wrapper {
  padding-left: calc((100% - 1750px) / 2 + 15px);
}
.slider__item {
  position: relative;
  padding-left: 80px;
}
.slider__text {
  position: absolute;
  left: 0;
  bottom: 104px;
  font-size: 140px;
  line-height: 164px;
  font-weight: 800;
  background: linear-gradient(
    90deg,
    rgba(17, 68, 85, 1) 80px,
    rgba(255, 255, 255, 1) 80px
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* slider end */

/* about start */

.about {
  padding: 144px 0 224px 0;
}
.about__info {
  max-width: 1075px;
  margin-bottom: 78px;
}
.about__title {
  margin-bottom: 12px;
}
.about__video {
  position: relative;
  padding-top: 49.25%;
}
.about__video::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgba(17, 68, 85, 0.5);
}
.about__img,
.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video {
  z-index: 4;
}
.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* about end */

/* footer start */

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
}
.footer__copy {
  font-size: 20px;
  line-height: 36px;
}
.footer__contacts {
  display: flex;
  align-items: center;
}
.footer__email {
  margin-right: 104px;
  font-size: 20px;
  line-height: 36px;
}
.footer__socials {
  display: flex;
  column-gap: 26px;
}

/* footer end */
